.bannerContainer {

    padding: 90px 0px;
    background-image: url('../../../Assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;


}

.bestDeal {
    font-size: 45px;
    font-weight: 300;

}

.discount {
    font-size: 70px;
    font-weight: bold;
}

.purchase {
    color: gray;
    font-weight: 400;
}

.bannerBtn {
    margin-top: 10px;
    padding: 12px 40px;
    border-radius: 29px;
    border: 2px solid crimson;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: crimson;
    transition: .7s ease;
}

.bannerBtn:hover {
    background-color: transparent;
    color: white;

}