.ourTeamContainer {
    padding: 70px 40px;
}

.memberImg {
    filter: grayscale(100%);

}

.memberCard:hover .memberImg{
    filter: none;
}

.memberCard {
    position: relative;

  
    
}
.memberCard:hover .memberInfo{
    display: block;
}

.memberInfo {
    padding: 15px;
    background-color: rgb(39, 39, 39);
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display:none;
   
    


}